{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container mt-5 bg-light text-dark">
  <div class="row">
    <form method="POST" action="{% url 'export_playlist' %}">
      <div class="form-group">
        <label for="playlist">Select a playlist:</label>
        <select class="form-control" id="playlist" name="playlist">
          {% for playlist in playlists.items %}
          <option value="{{ playlist.id }}">{{ playlist.name }}</option>
          {% endfor %}
        </select>
      </div>
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Export playlist</button>
    </form>
    <div class="col-md-6">
      <h1>All Playlists</h1>
    </div>
    <div class="col-md-6">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search for a playlist...">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    {% for playlist in playlists.items %}
    <div class="col-md-4 mb-3">
      <div class="card bg-light text-dark">
        <img src="{{ playlist.images.0.url }}" class="card-img-top" alt="Playlist image">
        <div class="card-body">
          <h5 class="card-title">{{ playlist.name }}</h5>
          <p class="card-text">{{ playlist.description }}</p>
          <a href="#" class="btn btn-primary">View playlist</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

